<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teacher List</title>
    <link rel="stylesheet" href="/static/css/teachers.css">
</head>
<body>

    <h2>Teacher List</h2>
    <a href="{% url 'teacher:add_teacher' %}" class="btn btn-success">Add New Teacher</a>

    <table class="table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.first_name }} {{ teacher.last_name }}</td>
            <td>{{ teacher.email }}</td>
            <td>
                <a href="{% url 'teacher:teacher_detail' teacher.pk %}" class="btn btn-info">View</a>
                <a href="{% url 'teacher:edit_teacher' teacher.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'teacher:delete_teacher' teacher.pk %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
